<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>TestTaker</title>
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.teal-blue.min.css" />
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="../stylesheets/main.css" rel="stylesheet">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>

<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">

        <span class="mdl-layout-title"><a href="index.mustache" class="nolink">TestTaker</a></span>

        <div class="mdl-layout-spacer"></div>

        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link" href="">About</a>
          <!-- TODO: For development purpaces-->
          <a class="mdl-navigation__link" href="login.mustache">Login &nbsp;&nbsp;&nbsp;&nbsp;<img src="http://www.gravatar.com/avatar/07450399d037aeb3a6242d97d0b4980b?s=47&d=http%3A%2F%2Fwww.techrepublic.com%2Fbundles%2Ftechrepubliccore%2Fimages%2Ficons%2Fstandard%2Ficon-user-default.png" alt="Login" width="20px" height="20px"/></a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Menu</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">

        <h1 class="hct">TestTaker</h1>
        <h2 class="hct">Fast. Simple. Awesome.</h2>

        <p class="hct">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


        <div class="center-responsive">
          <!-- TODO: For development purpaces-->
          <button onclick="window.location='login.mustache';" class="responsive mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Get Started
          </button>
        </div>

        <br>

        <footer class="mdl-mini-footer">
          <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">Title</div>
            <ul class="mdl-mini-footer__link-list">
              <li><a href="#">Help</a></li>
              <li><a href="#">Privacy &amp; Terms</a></li>
            </ul>
          </div>
        </footer>

      </div>
    </main>
  </div>
</body>

</html>
