<!DOCTYPE html>
<html>

{{>head}}

<body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        {{>header}}
            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title">Menu</span>
                <nav class="mdl-navigation">
                    {{#classes}}
                    <a class="mdl-navigation__link" href="/classes/{{classID}}">{{className}}</a>
                    {{/classes}}
                </nav>
            </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div id="page">
                {{classData.name}} {{#classData.teachers}}{{name}}{{email}}{{/classData.teachers}} {{#teacher}}
                <!-- TODO: tabs -->
                {{/teacher}} {{#student}}
                <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                    <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Tests</th>
                            <th>Date</th>
                            <th>?</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#tests}}
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">{{name}}</td>
                            <td>{{date}}</td>
                            <td>?</td>
                        </tr>
                        {{/tests}}
                    </tbody>
                </table>
                {{/student}}
            </div>
        </div>
    </main>
    {{>footer}}
    </div>
</body>

</html>
