<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>TestTaker</title>
    {{^scripts}}
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
    {{/scripts}}
    {{^stylesheets}}
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.teal-blue.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../stylesheets/main.css" rel="stylesheet">
    {{/stylesheets}}
    {{#scripts}}
        <script src="{{.}}"></script>
    {{/scripts}}
    {{#stylesheets}}
        <link href="{{.}}" rel="stylesheet">
    {{/stylesheets}}
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>

<body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title"><a href="index.mustache" class="nolink">TestTaker</a></span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="questions.mustache">Support</a>
                    <a class="mdl-navigation__link" href="about.mustache">About</a>
                    <!-- For development purposes-->
                    <!-- TODO: Add a settings FAB -->
                    <a class="mdl-navigation__link" href="login.mustache">Logout</a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Menu</span>
            <nav class="mdl-navigation">
                {{#classes}}
                    <a class="mdl-navigation__link" href="/classes/{{classID}}">{{className}}</a>
                {{/classes}}
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content">
                <div id="page">
                    {{classData.name}}
                    {{#classData.teachers}}{{name}}{{email}}{{/classData.teachers}}
                    {{/teacher}}
                    <!-- TODO: tabs -->
                    {{/teacher}}
                    {{#student}}
                        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                            <thead>
                                <tr>
                                    <th class="mdl-data-table__cell--non-numeric">Tests</th>
                                    <th>Date</th>
                                    <th>?</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#tests}}
                                    <tr>
                                        <td class="mdl-data-table__cell--non-numeric">{{name}}</td>
                                        <td>{{date}}</td>
                                        <td>?</td>
                                    </tr>
                                {{/tests}}
                            </tbody>
                        </table>
                    {{/student}}
                </div>
            </div>
        </main>
        <footer class="mdl-mini-footer">
          <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">Title</div>
            <ul class="mdl-mini-footer__link-list">
              <li><a href="questions.mustache">Help</a></li>
              <li><a href="#">Privacy &amp; Terms</a></li>
            </ul>
          </div>
        </footer>
    </div>
</body>

</html>
