<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>TestTaker</title>
  {{^scripts}}
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
  {{/scripts}} {{^stylesheets}}
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.teal-blue.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../stylesheets/main.css" rel="stylesheet"> {{/stylesheets}} {{#scripts}}
  <script src="{{.}}"></script>
  {{/scripts}} {{#stylesheets}}
  <link href="{{.}}" rel="stylesheet"> {{/stylesheets}}
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>

<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">

        <span class="mdl-layout-title"><a href="index.mustache" class="nolink">TestTaker</a></span>

        <div class="mdl-layout-spacer"></div>

        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link" href="questions.mustache">Support</a>
          <a class="mdl-navigation__link" href="">About</a>
          <!-- TODO: For development purpaces-->
          <a class="mdl-navigation__link" href="login.mustache">Login &nbsp;&nbsp;&nbsp;&nbsp;<img src="http://www.gravatar.com/avatar/07450399d037aeb3a6242d97d0b4980b?s=47&d=http%3A%2F%2Fwww.techrepublic.com%2Fbundles%2Ftechrepubliccore%2Fimages%2Ficons%2Fstandard%2Ficon-user-default.png" alt="Login" width="20px" height="20px"/></a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Menu</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">(class 1)</a>
        <a class="mdl-navigation__link" href="">(class 2)</a>
        <a class="mdl-navigation__link" href="">(class 3)</a>
        <a class="mdl-navigation__link" href="">(class 4)</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">

        <h1 class="hct">TestTaker</h1>

        <p class="hct">Welcome {{userData.name}}</p>


        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title">
            <img src="http://t2.gstatic.com/images?q=tbn:ANd9GcRzVkCpcMHPT21p9_el1p7Xz-XZEXXKxsOImnG4dnl1E8_jENWrWQ">
          </div>
          <div class="mdl-card__supporting-text">
            Teacher: Mr. Higginbottom, Subject: Computer progamming, Blah (not bla): Blah Blah (with h's)
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
           Class
            </a>
          </div>
          <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
              <i class="material-icons">share</i>
            </button>
          </div>
        </div>
        <div class="center-responsive">
          <!-- TODO: For development purpaces-->
        </div>

        <br>

        <footer class="mdl-mini-footer">
          <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">Title</div>
            <ul class="mdl-mini-footer__link-list">
              <li><a href="#">Help</a></li>
              <li><a href="#">Privacy &amp; Terms</a></li>
            </ul>
          </div>
        </footer>

      </div>
    </main>
  </div>
</body>

</html>
