<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">TestTaker Client v{{version}}</div>
    <ul class="mdl-mini-footer__link-list">
      <li><a href="/help">Help</a></li>
      <li><a href="/privacy">Privacy &amp; Terms</a></li>
    </ul>
  </div>
</footer>