<!DOCTYPE html>
<html>

{{>head}}

<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    {{>header}}
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Menu</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">

        <h1 class="hct">FAQ</h1>
        <div class="questionContent">
          <p>
            <!--when this is clicked add a question-->
            <a class="nounder" href="mail.mustache">Ask a Question</a>
          </p>
          <div class="lable">Questions</div>
          <br>
          <div class="questions">
            <p>
              <a class="nounder" href="#howtomakeaccount">How do you make an account?</a>
              <br>
              <a class="nounder" href="#howtologin">How do you log in?</a>
              <br>
              <a class="nounder" href="#howtomakeclass">How do you make a class?</a>
              <br>
              <a class="nounder" href="#howtojoinaclass">How do you join a class?</a>
              <br>
              <a class="nounder" href="#howtoaddstudents">How do you add students?</a>
              <br>
              <a class="nounder" href="#howtomaketest">How do you make a test?</a>
              <br>
              <a class="nounder" href="#howtoaccessyourscores">How do you access your own scores</a>
              <br>
              <a class="nounder" href="#howtoaccesstestscores">How do you access a students scores</a>
              <br>
              <a class="nounder" href="#howtoaccessclasses">How do you access classes</a>
              <br>
              <a class="nounder" href=""></a>
              <br>
              <a class="nounder" href=""></a>
            </p>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="answers">
          <h3 id="howtomakeaccount" class="answerheadings">Making an account</h3>
          <p class="answer">
            <ol>
              <li class="listQuestions">Go to any page in testtaker</li>
              <li class="listQuestions">At the top there is a bar, in it press login</li>
              <li class="listQuestions">Create your account or sign in</li>
            </ol>
          </p>
          <br>
          <h3 id="howtologin" class="answerheadings">Logging in</h3>
          <p class="answer">
            <ol>
              <li class="listQuestions">Go to any page in testtaker</li>
              <li class="listQuestions">At the top there is a bar, in it press login</li>
              <li class="listQuestions">Create your account or sign in</li>
            </ol>
          </p>
          <br>
          <h3 id="howtomakeclass" class="answerheadings">How to make a class</h3>
          <p class="answer">
            <ol>
              <li class="listQuestions">Go to your dashboard</li>
              <li class="listQuestions">There is a button to add a class that looks like this
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"><i class="material-icons">add</i></button>
              </li>
              <li class="listQuestions">Click on it and go through the prosses of creating a class</li>
            </ol>
          </p>
          <br>
          <h3 id="howtojoinaclass" class="answerheadings">How to Join a class</h3>
          <p class="answer">
            <ol>
              <li class="listQuestions">Go to your dashboard</li>
              <li class="listQuestions">There is a button to add a class that looks like this
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"><i class="material-icons">add</i></button>
              </li>
              <li class="listQuestions">Click on it and put in a special code that you teacher gave to you, for example -K3rIyuRrDjnYNiGS8ub </li>
            </ol>
          </p>
          <br>
          <h3 id="howtoaddstudents" class="answerheadings">How to add students</h3>
          <p class="answer">
            <ol>
              <li class="listQuestions"><a class="nounder" href="#howtomakeclass">Make a class</a> you will get a special code, for example -K3rIyuRrDjnYNiGS8ub</li>
              <li class="listQuestions">give this code to your students so they can join the class.</li>
            </ol>
          </p>
          <br>
          <h3 id="howtomaketest" class="answerheadings">How to make a test</h3>
          <p class="answer">
            <ol>
              <li class="listQuestions"><a class="nounder" href="#howtoaccessclasses">Go to your class</a></li>
              <li class="listQuestions">There is a button to make a test that looks like this
                <button class="mdl-button mdl-js-button mdl-button--accent mdl-js-ripple-effect" id="createTest" data-upgraded=",MaterialButton,MaterialRipple">
                  create one
                  <span class="mdl-button__ripple-container">
                    <span class="mdl-ripple"></span>
                  </span>
                </button>
              </li>
            </ol>
          </p>
          <br>
          <h3 id="howtoaccessyourscores" class="answerheadings">How to access your test scores</h3>
          <p class="answer">
            ___________
          </p>
          <h3 id="howtoaccesstestscores" class="answerheadings">How to access your student's scores</h3>
          <p class="answer">
            ___________
          </p>
          <br>
          <h3 id="howtoaccessclasses" class="answerheadings">How to access classes</h3>
          <p class="answer">
            In your dashboard you have all of your classes, and on each class is a button that looks like this
            <span class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Go to class</span> click on is and you will be brought to your class page.
          </p>
          <br>
        </div>
      </div>
      <br>


    </main>
    {{>footer}}
  </div>

</body>

</html>