<!DOCTYPE html>
<html>

{{>head}}

<body>
  {{>outdated}}
  <div class="mdl-layout mdl-js-layout">
    {{>header}}
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Menu</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">
        {{>say}}
        <h1 class="hct">TestTaker</h1>
        <h2 class="hct">Fast. Simple. Awesome.</h2>

        <p class="hct">TestTaker is an open-source testing app that was built to help a teacher and to provide a learning experience with coding. Because it's open-source it is free. It uses some of the latest technologies such as Node.js, Express.js, and Firebase.
          However, it is still in beta, so please report any bugs to <a target="_blank" href="https://github.com/Tim15/TestTaker/issues/new?title=Your issue here&body=Add more details">our github page</a> (open-source development platform)</p>

        <div class="center-responsive">
          <!-- TODO: For development purpaces-->
          <button onclick="window.location='login';" class="responsive mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Get Started
          </button>
        </div>

        <br>
      </div>
    </main>
    {{>footer}}
  </div>
</body>

</html>
