<!DOCTYPE html>
<html>

{{>head}}

<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    {{>header}}
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Menu</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">
        <h1 class="hct">FAQ</h1>
        <form action="">
          <div class="mdl-textfield mdl-js-textfield">
            <textarea class="mdl-textfield__input" type="text" rows="3" cols="10" id="email"></textarea>
            <label class="mdl-textfield__label" for="email">Email...</label>
          </div>
          <br>
          <button id="sendMail" onclick="window.location = 'mailto:testtakerteam@gmail.com';" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Send
          </button>

        </form>
      </div>
      <br> {{>footer}}
  </div>
  </main>
  <script>
    function sendMail() {
      alert("hi")
      var link = "mailto:testtakerteam@gmail.com";
      alert("hi")
      window.location = link;
      alert("hi")
    }
  </script>
</body>

</html>