<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>TestTaker</title>
  {{^scripts}}
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
  {{/scripts}} {{^stylesheets}}
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.teal-blue.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../stylesheets/main.css" rel="stylesheet"> {{/stylesheets}} {{#scripts}}
  <script src="{{.}}"></script>
  {{/scripts}} {{#stylesheets}}
  <link href="{{.}}" rel="stylesheet"> {{/stylesheets}}
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>

<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">

        <span class="mdl-layout-title"><a href="index.mustache" class="nolink">TestTaker</a></span>

        <div class="mdl-layout-spacer"></div>

        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link" href="questions.mustache">Support</a>
          <a class="mdl-navigation__link" href="about.mustache">About</a>
          <!-- TODO: For development purpaces-->
          <a class="mdl-navigation__link" href="login.mustache">Login &nbsp;&nbsp;&nbsp;&nbsp;<img src="http://www.gravatar.com/avatar/07450399d037aeb3a6242d97d0b4980b?s=47&d=http%3A%2F%2Fwww.techrepublic.com%2Fbundles%2Ftechrepubliccore%2Fimages%2Ficons%2Fstandard%2Ficon-user-default.png" alt="Login" width="20px" height="20px"/></a>
        </nav>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Menu</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">

        <h1 class="hct">Questions</h1>
        <div class="questionContent">
          <div class="lable">Questions</div>
          <br>
          <div class="questions">
            <p>
              <a class="nounder" href="#howtomakeaccount">How do you make an account?</a>
              <br>
              <a class="nounder" href="#howtologin">How do you log in?</a>
              <br>
              <a class="nounder" href="#howtomakeclass">How do you make a class?</a>
              <br>
              <a class="nounder" href="#howtoaddstudents">How do you add students?</a>
              <br>
              <a class="nounder" href="#howtomaketest">How do you make a test?</a>
              <br>
              <a class="nounder" href="#howtoaccesstestscores">How do you acces a students scores</a>
              <br>
              <a class="nounder" href="#howtoaccessclasses">How do you access your own scores</a>
              <br>
              <a class="nounder" href=""></a>
              <br>
              <a class="nounder" href=""></a>
              <br>
              <a class="nounder" href=""></a>
              <br>
              <a class="nounder" href=""></a>
            </p>
          </div>
        </div>
        <div class="answers">
          <div class="question1" id="howtomakeaccount">
            <br>
            <br>
            <br>
            <h3>Making an account</h3>
            <p class="questionContent">
              On any Test taker page there is a bar at the top of the page, in it click on 
            </p>
          </div>
        </div>
        <br>
        <footer class="mdl-mini-footer">
          <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">Title</div>
            <ul class="mdl-mini-footer__link-list">
              <li><a href="#">Help</a></li>
              <li><a href="#">Privacy &amp; Terms</a></li>
            </ul>
          </div>
        </footer>

      </div>
    </main>
  </div>
</body>

</html>
