<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>

<body>
    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <title>TestTaker</title>
        {{^scripts}}
        <script src="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.min.js"></script>
        {{/scripts}} {{^stylesheets}}
        <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.teal-blue.min.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="../stylesheets/main.css" rel="stylesheet"> {{/stylesheets}} {{#scripts}}
        <script src="{{.}}"></script>
        {{/scripts}} {{#stylesheets}}
        <link href="{{.}}" rel="stylesheet"> {{/stylesheets}}
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
    </head>

    <body>
        <!-- Always shows a header, even in smaller screens. -->
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <!-- Title -->
                    <span class="mdl-layout-title"><a href="index.mustache" class="nolink">TestTaker</a></span>
                    <!-- Add spacer, to align navigation to the right -->
                    <div class="mdl-layout-spacer"></div>
                    <!-- Navigation. We hide it in small screens. -->
                    <nav class="mdl-navigation mdl-layout--large-screen-only">
                        <a class="mdl-navigation__link" href="questions.mustache">Support</a>
                        <a class="mdl-navigation__link" href="about.mustache">About</a>
                        <!-- TODO: For development purpaces-->
                        <a class="mdl-navigation__link" href="login.mustache">Login</a>
                    </nav>
                </div>
            </header>
            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title">Menu</span>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                </nav>
            </div>
            {{#questions}}
            <div class="quizQuestions">
              <img src="{{image}}">
              <div class="quizAnswers">
                <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="background-image: url({{image}})">
                  <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Welcome</h2>
                  </div>
                  <div class="mdl-card__supporting-text">
                    {{prompt}}
                  </div>
                  <div class="mdl-card__actions mdl-card--border">
                    <div class="mdl-textfield mdl-js-textfield">
                      <input class="mdl-textfield__input" type="text" id="question{{______}}">
                      <label class="mdl-textfield__label" for="question{{______}}">Answer...</label>
                    </div>
                  </div>
                  <div class="mdl-card__menu">
                    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                      <i class="material-icons">share</i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            {{/questions}}
            <div>
              <br>
              <button id="submitTest" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Submit Test</button>
            </div>
            <br>
            <br>
            <br>
      </main>
      </div>
  </body>

    </html>
</body>

</html>
