<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>

<body>
    <!DOCTYPE html>
    <html>

    {{>head}}

    <body>
        <!-- Always shows a header, even in smaller screens. -->
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <!-- Title -->
                    <span class="mdl-layout-title"><a href="index.mustache" class="nolink">TestTaker</a></span>
                    <!-- Add spacer, to align navigation to the right -->
                    <div class="mdl-layout-spacer"></div>
                    <!-- Navigation. We hide it in small screens. -->
                    <nav class="mdl-navigation mdl-layout--large-screen-only">
                        <a class="mdl-navigation__link" href="questions.mustache">Support</a>
                        <a class="mdl-navigation__link" href="about.mustache">About</a>
                        <!-- TODO: For development purpaces-->
                        <a class="mdl-navigation__link" href="login.mustache">Login</a>
                    </nav>
                </div>
            </header>
            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title">Menu</span>
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                    <a class="mdl-navigation__link" href="">Link</a>
                </nav>
            </div>
            <main class="mdl-layout__content">
                <div class="page-content" id="page-content">
                    {{#student}}
                        <h3>
                            Welcome {{userData.name}}. You are about to take the {{name}} test.
                        </h3>
                        <p>When you are ready, do your best to fill out the answers to the questions below. When you are done, click "Submit". Good Luck!</p>
                        <div id="quizQuestions">
                            {{#questions}}
                                <div class="quizAnswer">
                                    <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="background-image: url({{imageUrl}})">
                                        <div class="mdl-card__title">
                                            <h2 class="mdl-card__title-text" style="color: black;">Question 1</h2>
                                        </div>
                                        <div class="mdl-card__supporting-text">
                                            {{prompt}}
                                        </div>
                                        <div class="mdl-card__actions mdl-card--border">
                                            <div class="mdl-textfield mdl-js-textfield">
                                                <input class="mdl-textfield__input" type="text" id="question{{id}}">
                                                <label class="mdl-textfield__label" for="question{{id}}">Answer...</label>
                                            </div>
                                        </div>
                                        <div class="mdl-card__menu">
                                            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                                <i class="material-icons">share</i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            {{/questions}}
                        </div>
                        <div>
                            <br>
                            <button id="submitTest" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                                Submit Test
                            </button>
                        </div>
                        <script>
                            $('#submitTest').on('click', function() {
                                var answers = {};
                                $('#quizQuestions').find('.quizAnswer').each(function(index, el) {
                                    $(this).find('[id^=question]').each(function(index, el) {
                                        answers[(this).id.replace('question', '')] = $(this).val()
                                    });
                                });
                                // TODO: for customized tests
                                obj = {
                                    answers: answers,
                                    test: window.location.href.replace('http://localhost:3000/tests/', '')
                                }
                                $.post('/submitTest', obj, function() {
                                    alert('done');
                                    $('#page-content').html('<h1>Thank you for submitting your test.</h1><p>Our server is grading it right now, but your teacher will look over it before you get your score back.</p>')
                                });
                            });
                        </script>
                    {{/student}}
                    {{#teacher}}
                        <h1>
                            Test Admin Page for the test "{{name}}"
                        </h1>
                        {{#testingSession}}
                            <button id="endTestingSession" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                                End Testing Session
                            </button>
                        {{/testingSession}} {{^testingSession}}
                        <button id="startTestingSession" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                            Start Testing Session
                        </button>
                        {{/testingSession}} {{/teacher}}
                </div>
                <br>
                <br>
                <br>
                <footer class="mdl-mini-footer">
                    <div class="mdl-mini-footer__left-section">
                        <div class="mdl-logo">Title</div>
                        <ul class="mdl-mini-footer__link-list">
                            <li><a href="questions.mustache">Help</a></li>
                            <li><a href="#">Privacy &amp; Terms</a></li>
                        </ul>
                    </div>
                </footer>
            </main>
        </div>
        {{>outdated}}
    </body>

    </html>
</body>

</html>
