.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  /*background: url('http://www.getmdl.io/assets/demos/welcome_card.jpg') center / cover;*/
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
.center-responsive {
  text-align: center;
}
.responsive {
  display: inline-block;
}
.hct {
  text-align: center;
}
.el {
  padding: 1em;
}
p.hct {
  width: 50%;
  margin: 0 auto;
  padding: 1em;
}
.login-page {
  padding-bottom: 3em;
}
.login-inline {
  display: inline-table;
  width: 40%;
  margin-top: 2em;
  padding: 2em;
}
.nolink {
  text-decoration: none;
  color: inherit;
}
.lable {
  width: 150px;
  color: darkgrey;
  font-size: 20px;
  font-weight: bold;
  padding-right: 3em;
}
.questionContent {
  font-size: 15px;
  padding-top: 2em;
  padding-left: 5em;
}
.questions {
  padding-left: 1em;
  border: 7px solid rgb(68, 138, 255);
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
}
.answerheadings {
  padding-left: 3em;
}
.answer{
  padding-left: 2em;
}
.nounder {
  text-decoration: none;
}
.listQuestions {
  padding-left: 2em;
  border: 3px solid rgb(108, 178, 255);
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
}
.quizQuestions{
  padding-top: 1em;
  padding-left: 4em;
}
.quizTextPrompt{
  padding-top: 1em;
  padding-left: 5em;
}
.quizAnswers{
  padding-top: 1em;
  padding-left: 4em;
}
.classCard{
  padding-left: 3em;
}

#addClass {
  position: fixed;
  bottom: 2em;
  right: 2em;
}

body {
  min-height: 100vh;
}
.lookLikeButton{
  -webkit-appearance: button;
}
